<h2 style="text-align:center; padding-bottom:30px; padding-right:25px;">Snooze</h2>
<h1 style="text-align:center; padding-right:25px;">{{activity.activity}}</h1>
<h3 style="text-align:center; padding-right:25px;">{{time}}</h3>
<h2 style="text-align:center; padding-top:30px; padding-right:25px;">Done</h2>


