<style>
    * {
        margin: auto;
    }
    h1 {
        font-size: 60px;
    }
    h3 {
        font-size: 30px;
    }
    hr {
        margin: 0 !important;
    }
</style>
<div id="home">
  <h1><span id="clock-time">{{time}}</span></h1>
  <hr><br>
  <h3><span id="clock-date">{{date}}</span></h3>
</div>
